/* -------- GLOBAL -------- */
html body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(103, 230, 210);
}

.hidden {
  display: none !important;
}

/* -------- MOBILE -------- */
@media only screen and (max-width: 600px) {
  * {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  #spinner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(103, 230, 210);
    width: 100%;
    height: 100%;
    font-family: monospace;
    color: white;
  }

  #spinner img {
    width: 100px;
  }

  button {
    width: 60px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid grey;
    border-radius: 10px;
  }

  button:active {
    width: 60px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid grey;
    border-radius: 10px;
  }

  .saveGame {
    margin: 10px;
  }

  #mobile-controls {
    width: 100%;
    height: 97%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
  }

  #mobile-controls-1 {
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }

  #mobile-controls-2 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  #container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  canvas {
    height: inherit;
  }
}

/* -------- DESKTOP -------- */
@media screen and (min-width: 700px) {
  #mobile-controls-1 {
    display: none !important;
  }

  #mobile-controls-2 {
    display: none !important;
  }

  #spinner {
    display: none !important;
  }
}
